spring.datasource.url= jdbc:postgresql://localhost:5432/your-postgresql-database
spring.datasource.username= your-postgresql-username
spring.datasource.password= your-postgresql-password

spring.jpa.hibernate.ddl-auto=update 
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true 